body {
    background:linear-gradient(to bottom, black, #181818); 
}
header {
    background-color: #181818;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0; 
}
li, a, button {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    /* text-shadow:0 0 30px #ffba00; */
}
.navigation {
    position: relative;
    left: 60px;
    list-style: none;
}
.navigation li {
    display: inline-block;
    padding: 0px 20px; 
}
.navigation li a {
    transition: all 0.3s ease 0s;
}
.navigation li a:hover {
    cursor: pointer;
    color: #ffe6a0;
}
button {
    padding: 9px 25px;
    background-color: #ffba00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}
header button:hover {
    background-color: #a98624;
}
.sortingAlgorithmsDropdownContent {
    display: none;
    position: absolute;
    top: 120%;
    left: 35%;
    background-color: #181818;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.sortingAlgorithmsDropdownContent a {
    float: none;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.show {
    display: block;
}

h1 {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 7%;
    left: 4%;
}